#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import BigQuery library

In [2]:
from google.cloud import bigquery

#### 3. Create a connection to BigQuery

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/home/gus/Dropbox/IRONHACK/Ironhack Data Analytics.json"

In [4]:
client = bigquery.Client()

#### 4. Import data from the users table from the stackoverflow public database for United Kingdom only

In [5]:
query2='''
SELECT 
 *
FROM
    `bigquery-public-data.stackoverflow.users`
WHERE
 location LIKE "%UK%"
'''

In [6]:
query_job = client.query(query2)
df_users=query_job.to_dataframe()
df_users

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,2758772,Aghdas,,,2013-09-08 11:21:11.683000+00:00,2019-05-22 13:21:57.337000+00:00,"London, UK",46,12,0,61,https://i.stack.imgur.com/62QkV.jpg?s=128&g=1,
1,945029,Carl,,,2011-09-14 16:03:14.723000+00:00,2019-05-31 15:51:23.630000+00:00,UK,2549,752,0,63,,
2,5186474,R. Duffy,"<p>By Day: Director at Pre Pro Industries LTD,...",,2015-08-03 16:20:10.277000+00:00,2016-02-01 08:16:16.033000+00:00,"Birmingham, West Midlands, UK",34,1,0,22,https://i.stack.imgur.com/EMB9O.png?s=128&g=1,http://richard-duffy.uk
3,6713148,Robert Hanigan,<p>I'm a hobbyist programmer interesting in al...,,2016-08-13 17:46:13.130000+00:00,2019-03-18 10:56:37.970000+00:00,UK,104,5,0,38,https://www.gravatar.com/avatar/eda7cf4e8b6775...,https://lion137.blogspot.co.uk/
4,4275721,James Groves,,,2014-11-20 18:29:46.827000+00:00,2015-10-11 11:06:21.533000+00:00,"Barnsley, UK",71,0,0,28,https://i.stack.imgur.com/jbxuk.jpg,http://www.deliriousdreams.co.uk
5,8447312,emrepun,<p>iOS Developer. </p>\n\n<p>Interested with d...,,2017-08-10 18:58:11.690000+00:00,2019-06-01 19:48:11.967000+00:00,"Brighton, UK",1499,393,4,281,,
6,1411850,Sriram R,,,2012-05-23 06:27:54.090000+00:00,2019-05-31 14:25:04.527000+00:00,"Oxford, UK",241,40,0,26,,
7,2331643,Simon,<p>Developer. 2nd generation. Been coding sinc...,,2013-04-29 10:15:34.023000+00:00,2015-06-06 09:30:14.400000+00:00,"London, UK",342,3,0,15,,http://www.beartech.co.uk
8,2184373,Alessandro Mariani,<p>Always up to something ...</p>,,2013-03-18 23:10:26.030000+00:00,2019-05-30 10:26:10.893000+00:00,"London, UK",707,183,4,131,,http://www.linkedin.com/pub/alessandro-mariani...
9,1131978,Keith at Ideal Films,,,2012-01-05 11:13:04.743000+00:00,2013-08-15 15:28:42.760000+00:00,"Swindon, UK",59,13,0,55,,http://www.idealfilms.com
10,4174973,Zailef,,,2014-10-23 17:53:21.153000+00:00,2019-05-30 22:00:40.737000+00:00,"Hampshire, UK",386,4,6,25,https://i.stack.imgur.com/QluoV.jpg?s=128&g=1,
11,2447443,Simon Robinson,"<p>Iâ€™m a Windows software developer, originall...",,2013-06-03 10:25:57.373000+00:00,2016-02-13 19:17:59.157000+00:00,"London, UK",171,4,0,22,https://i.stack.imgur.com/Z9alO.jpg,http://techiesimon.com
12,9332653,Polybrow,,,2018-02-08 10:46:05.537000+00:00,2019-03-26 09:19:19.547000+00:00,UK,30,2,0,24,https://i.stack.imgur.com/dLfi4.jpg,
13,802762,Chris Baxter,<p>iOS and Android developer. Founder of new...,,2011-06-17 06:08:29.243000+00:00,2019-04-12 12:24:48.137000+00:00,"Leeds, UK",573,4,1,68,,http://www.catalyst-mobile.com/
14,9445557,Artemis Fowl,"<p>I am best at coding python, but I am learni...",,2018-03-05 11:52:46.587000+00:00,2019-05-23 14:26:40.383000+00:00,"Sheffield, UK",1685,900,167,535,https://lh4.googleusercontent.com/-ZvPecK4hbu4...,https://cheeky-bloks.itch.io
15,4311736,olitee,"<p>A sleep-deprived father, coffee drinker and...",,2014-12-01 13:06:54.487000+00:00,2019-05-31 14:23:30.333000+00:00,"Leeds, UK",1580,26,4,105,https://i.stack.imgur.com/R11kK.jpg,http://olitee.com
16,7580014,FormulaOne,,,2017-02-17 09:53:18.387000+00:00,2019-04-15 15:39:56.683000+00:00,"Kent, UK",151,0,0,18,https://lh5.googleusercontent.com/-kbvac1Hv01g...,
17,2568176,Matt Cooper,"<p>Part time demon, part time computer science...",,2013-07-10 10:46:40.117000+00:00,2016-01-04 00:29:16.787000+00:00,"London, UK",1004,10,9,72,https://i.stack.imgur.com/EyMH2.jpg,http://mcooper.co.uk
18,1900824,Adrian Alex,<p>Passionate developer.</p>,,2012-12-13 11:48:57.343000+00:00,2019-05-13 19:23:49.773000+00:00,UK,39,4,0,14,https://i.stack.imgur.com/arbdK.png,
19,811308,Guilherme,,,2011-06-22 23:12:53.237000+00:00,2018-10-02 18:09:22.450000+00:00,"London, UK",323,25,0,39,https://i.stack.imgur.com/KkNHL.jpg?s=128&g=1,https://www.ggoncalves.me
20,938694,Cubic,<p>I am currently employed as a Junior Softwar...,,2011-09-10 23:47:06.507000+00:00,2019-06-01 21:47:44.650000+00:00,"Oxford, UK",11448,489,82,1083,,
21,150199,fras,,,2009-08-04 08:36:30.620000+00:00,2018-07-24 10:52:07.560000+00:00,"Edinburgh, UK",83,13,0,30,,
22,997688,Paul Stanley,,,2011-10-16 09:51:50.217000+00:00,2019-06-01 09:50:16.343000+00:00,UK,655,236,1,204,https://i.stack.imgur.com/GYQbN.jpg,
23,2404683,Davide,,,2013-05-21 08:48:43.587000+00:00,2019-05-10 10:33:50.250000+00:00,"Nottingham, UK",1261,35,6,161,https://i.stack.imgur.com/d5SiO.jpg?s=128&g=1,
24,4063639,MFatihMAR,,,2014-09-21 14:29:00.970000+00:00,2019-05-25 21:56:22.090000+00:00,"London, UK",1040,13,0,76,https://i.stack.imgur.com/05Nbu.jpg,http://MFatihMAR.com
25,1044533,MKII,"<p>A student of C++, C#, Erlang, and other lan...",,2011-11-13 19:58:24.070000+00:00,2019-05-30 08:00:09.750000+00:00,UK,599,511,87,123,,
26,1262839,Fabio Oesch,,,2012-03-11 21:03:36.783000+00:00,2019-05-19 21:50:14.017000+00:00,"England, UK",73,10,0,34,,
27,1755830,xgstr,,,2012-10-18 09:41:42.130000+00:00,2014-03-20 14:47:04.020000+00:00,UK,126,99,0,14,,
28,1512555,alegria,,,2012-07-09 16:30:13.520000+00:00,2019-05-31 11:00:17.740000+00:00,"Cambridge, UK",165,62,0,77,,
29,1081189,Steve Higgins,,,2011-12-05 08:42:35.910000+00:00,2019-02-13 17:13:42.357000+00:00,UK,63,3,0,29,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38492,4560026,Boydus,<p>Analyst with over 15 years experience in th...,,2015-02-12 15:41:58.327000+00:00,2019-05-10 14:53:48.627000+00:00,UK,31,0,0,3,https://www.gravatar.com/avatar/114a878d771f95...,
38493,4285435,MarkAddison,,,2014-11-23 22:19:45.483000+00:00,2019-05-24 13:38:29.690000+00:00,"Surrey, UK",31,0,0,3,,http://blog.markaddison.net
38494,11285655,pinkbonsai,"<p>I am an undergraduate Physics student, tryi...",,2019-03-31 15:19:47.577000+00:00,2019-05-21 17:01:28.270000+00:00,"London, UK",31,5,0,3,https://www.gravatar.com/avatar/57d703c0bf07d5...,
38495,8113639,gareth,,,2017-06-05 09:20:11.837000+00:00,2019-05-26 11:09:31.750000+00:00,"England, UK",31,15,0,3,https://www.gravatar.com/avatar/d7daee80faab4b...,
38496,1755853,psybersonic,,,2012-10-18 09:49:23.257000+00:00,2015-04-27 11:26:16.167000+00:00,UK,31,0,0,4,,http://www.psybersonic.com
38497,8144255,Othman Khamra,"<p>I am a hardworking, highly proficient IT pr...",,2017-06-11 10:50:47.977000+00:00,2019-05-31 15:26:37.960000+00:00,"London, UK",31,0,0,4,https://lh6.googleusercontent.com/-EeuRhg7a7Bg...,
38498,1266703,RicRoberts,"<p>CTO of Swirrl.com, Ruby on Rails &amp; Java...",,2012-03-13 14:18:34.823000+00:00,2017-12-21 10:48:19.363000+00:00,UK,31,0,0,5,,http://ricroberts.com
38499,9918037,callum siciliano,<p>The only thing I have finished to completio...,,2018-06-09 11:50:58.593000+00:00,2018-07-10 08:52:20.310000+00:00,"Kettering, UK",31,0,0,5,https://lh3.googleusercontent.com/-G1M2Zo8dMgI...,http://sicilianoservices.com
38500,2444359,Adrian,,,2013-06-02 02:02:16.483000+00:00,2019-05-29 22:08:25.917000+00:00,"London, UK",31,1,0,5,,
38501,4080616,James Robinson,<p>Hardware / firmware / software engineer. P...,,2014-09-25 18:12:00.707000+00:00,2018-12-14 13:31:32.450000+00:00,UK,31,5,0,5,https://graph.facebook.com/637536606/picture?t...,
38502,4075933,icestroge,<p>Beginner programer</p>,,2014-09-24 17:21:24.187000+00:00,2018-05-03 12:48:39.840000+00:00,UK,31,12,0,5,https://www.gravatar.com/avatar/dd9dae66287ac1...,
38503,10042805,EndoM8rix,<p>Computer Science Graduate from the Universi...,,2018-07-06 13:41:42.943000+00:00,2019-05-31 15:00:49.047000+00:00,"Sheffield, UK",31,0,0,5,https://i.stack.imgur.com/GKS1W.png,http://www.endom8rix.co.uk
38504,3865174,kterry,,,2014-07-22 14:51:31.633000+00:00,2019-05-22 17:29:43.303000+00:00,"Cambridge, UK",31,7,0,5,https://i.stack.imgur.com/ndc74.jpg?s=128&g=1,
38505,2915111,Alias Robert Cummins,"<p>15 years of actionscript, some JS, now all ...",,2013-10-24 09:42:57.027000+00:00,2017-05-09 19:29:22.900000+00:00,"London, UK",31,2,0,5,https://graph.facebook.com/510647315/picture?t...,http://proalias.com
38506,10465462,Phil van Kleur,,,2018-10-06 11:05:21.767000+00:00,2019-05-31 18:13:25.407000+00:00,"Oxford, UK",31,5,0,5,https://lh6.googleusercontent.com/-V0Pb03Jto1U...,http://www.chromophilia.uk
38507,4271309,Plaetean,<p>Cosmology PhD student</p>,,2014-11-19 18:23:42.327000+00:00,2019-06-01 20:34:26.197000+00:00,"London, UK",31,3,0,5,https://www.gravatar.com/avatar/1890b94b14ffa8...,
38508,7937724,Rob Coward,,,2017-04-28 16:32:58.743000+00:00,2018-01-11 00:20:38.210000+00:00,UK,31,0,0,6,https://i.stack.imgur.com/78J1u.png?s=128&g=1,
38509,3568896,user3568896,,,2014-04-24 12:51:17.797000+00:00,2019-06-01 20:17:41.590000+00:00,UK,31,1,0,6,https://graph.facebook.com/100002914212921/pic...,
38510,4680411,Daniel,,,2015-03-17 11:15:38.083000+00:00,2018-11-21 12:37:27.297000+00:00,"Newbury, UK",31,2,0,6,https://lh4.googleusercontent.com/-PwzD-ccziWY...,http://www.danielwright.me
38511,5480702,LoudDigital,,,2015-10-23 15:17:31.750000+00:00,2018-10-11 07:51:02.080000+00:00,"Beverley, UK",31,0,0,7,https://i.stack.imgur.com/8WleM.jpg,https://louddigital.co.uk/
38512,2630843,Keegan Neave,,,2013-07-29 15:15:12.280000+00:00,2019-04-02 12:52:34.900000+00:00,"Reading, UK",31,0,0,7,,http://www.neave-eng.com
38513,3687251,Aakash Handa,"<p><a href=""http://aakashhanda.me/"" rel=""nofol...",,2014-05-29 10:59:21.543000+00:00,2019-06-01 03:25:18.580000+00:00,"London, UK",31,0,0,8,,http://aakashhanda.me
38514,875480,JonGreen,"<p>Technology CEO, Dad to two kids and a bunch...",,2011-08-02 21:11:24.220000+00:00,2016-01-03 00:20:44.013000+00:00,"Cambridge, UK",31,0,0,8,https://i.stack.imgur.com/YRo7k.jpg,http://www.adeptium.com/
38515,7829258,Alex Morgan,<p>I'm currently a Physics PhD student at UCL ...,,2017-04-06 20:29:57.027000+00:00,2019-05-29 16:12:43.670000+00:00,"London, UK",31,2,0,9,https://lh3.googleusercontent.com/-naARB7hV4Ms...,
38516,8416327,C. Norman Scholfield,,,2017-08-04 08:52:27.380000+00:00,2018-10-01 04:45:06.710000+00:00,"UK, Thailand",31,0,0,10,https://www.gravatar.com/avatar/4a5aea8e749df1...,
38517,7528957,Mel,,,2017-02-07 13:18:49.093000+00:00,2019-05-23 21:05:16.997000+00:00,"Dundee, UK",31,1,0,10,https://www.gravatar.com/avatar/97c46525a4d264...,
38518,902521,Mark Leavesley,,,2011-08-19 13:29:06.800000+00:00,2019-05-31 13:54:32.717000+00:00,"Birmingham/Tamworth, UK",31,2,0,10,,
38519,5567308,Bernard Stockermans,,,2015-11-16 11:18:14.243000+00:00,2019-05-31 09:38:25.513000+00:00,"London, UK",31,17,0,11,https://lh5.googleusercontent.com/-FNxKBZIuN_U...,
38520,5995328,Amin Azarbadegan,"<p>Founder and manager in <a href=""http://bent...",,2016-02-29 01:59:02.813000+00:00,2019-05-24 00:17:23.790000+00:00,"London, UK",31,0,0,11,https://www.gravatar.com/avatar/77022e90840b68...,http://azarbadegan.net
38521,8290827,Harry Salmon,,,2017-07-11 16:22:06.973000+00:00,2019-05-31 15:46:20.387000+00:00,"London, UK",31,3,0,14,https://i.stack.imgur.com/wPHXK.png,

#### 5. Rename id column to user_id

In [23]:
df_users = df_users.rename(index=str, columns={"id": "user_id"})
df_users.shape

(38522, 13)

#### 6. Import from the stackoverflow_posts table all items which have up to 20 view counts and only select 'id', 'owner_user_id', 'score', 'view_count', 'comment_count', 'favorite_count'

In [8]:
query2='''
SELECT 
 id,
 owner_user_id,
 score,
 view_count,
 comment_count,
 favorite_count
 
FROM
    `bigquery-public-data.stackoverflow.stackoverflow_posts`

WHERE
 view_count <=20
 
'''

In [9]:
query_job = client.query(query2)
df_posts=query_job.to_dataframe()
df_posts.head(10)

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  23154134            NaN      1          20              0             NaN
1  37516574            NaN      0           7              0             NaN
2  37319831            NaN      1          18              0             NaN
3  31140287            NaN      1          16              3             NaN
4  36546336            NaN      0           8              0             NaN
5  37135854            NaN      0          12              0             NaN
6   1555629            NaN      0          20              0             NaN
7  36321359            NaN      0          18              0             NaN
8  36544553       846347.0      0          12              0             NaN
9  24160601       837501.0      0          12              0             NaN

#### 7. Rename id column to post_id and owner_user_id to user_id

In [10]:
df_posts = df_posts.rename(index=str, columns={"owner_user_id": "user_id", "id":"post_id"})
df_posts

         post_id    user_id  score  view_count  comment_count  favorite_count
0       23154134        NaN      1          20              0             NaN
1       37516574        NaN      0           7              0             NaN
2       37319831        NaN      1          18              0             NaN
3       31140287        NaN      1          16              3             NaN
4       36546336        NaN      0           8              0             NaN
5       37135854        NaN      0          12              0             NaN
6        1555629        NaN      0          20              0             NaN
7       36321359        NaN      0          18              0             NaN
8       36544553   846347.0      0          12              0             NaN
9       24160601   837501.0      0          12              0             NaN
10      36385202  5165511.0      0          13              0             NaN
11      26187253  1491475.0      0          15              0             NaN
12      35849020  5587988.0      0          16              0             NaN
13      35989509   342977.0      0          17              0             NaN
14      36949375  6273694.0      0          19              0             NaN
15      36798854  5739130.0      0          20              0             NaN
16      30812060  4552218.0      0          20              0             NaN
17      25774564   496861.0      1           8              0             NaN
18      33445043  4035943.0      1          11              0             NaN
19      31165222  4589550.0      1          12              0             NaN
20      37222912  6161162.0      1          16              0             NaN
21      35112435  3623760.0      1          16              0             NaN
22      37262189  5314097.0      1          17              0             NaN
23      36869494    13153.0      1          19              0             NaN
24      36039778  5656250.0      2          19              0             NaN
25      34392414  5702764.0      1          13              1             NaN
26      36134295   704159.0      1          19              1             NaN
27      33982145  5617536.0      0          19              2             NaN
28      22507099  1099931.0      0          16              3             NaN
29      34362244  3602488.0      1          20              3             NaN
...          ...        ...    ...         ...            ...             ...
325580  32253504  5254131.0     -2          19              4             NaN
325581  23976532   961958.0      0          19              0             NaN
325582  37634304  6227092.0     -1          20              2             0.0
325583  35070209  2561955.0      0          14              0             0.0
325584  36303822  2952223.0      1          19              0             0.0
325585  37603361  6417085.0     -1          15              0             0.0
325586  34219848  5667625.0      0          12              1             0.0
325587  37607294  6418004.0     -5          16              1             0.0
325588  37134728  6097311.0      0           9              4             0.0
325589  27982552  2053759.0      0          20              5             0.0
325590  37689751  5108111.0      0          18              1             0.0
325591  37598696  4855737.0      1          16              0             1.0
325592  37014705  2287993.0      1          18              0             1.0
325593  34018895   534310.0      1          18              2             1.0
325594  37234637  6333477.0      0          17              3             1.0
325595  33622248  4753132.0      0           8              0             1.0
325596  33289545  5477323.0      0          15              0             1.0
325597  36290554  5018299.0      0          19              0             1.0
325598  36822988  3380047.0      0          19              0             1.0
325599  33582470  1174730.0      1          14              0             1.0
325600  37269078  1109179.0      1          18              0             1.0
325601  34254617  5675253.0      1          18              0             1.0
325602  25698030    98389.0      1          19              0             1.0
325603  36369501  4420293.0      0          13              2             1.0
325604  35632438  4013183.0      1          19              2             1.0
325605  37279431  1571996.0      0          20              3             1.0
325606  25049829  3893865.0      0          20              1             1.0
325607  37509123  6396695.0      1          16              1             1.0
325608  21373465  2906377.0      1          20              1             1.0
325609  37287130  6014481.0      0          19              2             2.0

[325610 rows x 6 columns]

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [11]:
users_columns = df_users[["user_id","reputation","views","up_votes","down_votes"]]
posts_columns = df_posts[["post_id","score","user_id","view_count","comment_count"]]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [21]:
df_merged = users_columns.merge(posts_columns,how="outer")
df_merged.head(10)

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
0,2758772.0,46.0,61.0,12.0,0.0,NaN,NaN,NaN,NaN
1,945029.0,2549.0,63.0,752.0,0.0,34906253.0,0.0,14.0,0.0
2,5186474.0,34.0,22.0,1.0,0.0,NaN,NaN,NaN,NaN
3,6713148.0,104.0,38.0,5.0,0.0,NaN,NaN,NaN,NaN
4,4275721.0,71.0,28.0,0.0,0.0,NaN,NaN,NaN,NaN
5,8447312.0,1499.0,281.0,393.0,4.0,NaN,NaN,NaN,NaN
6,1411850.0,241.0,26.0,40.0,0.0,NaN,NaN,NaN,NaN
7,2331643.0,342.0,15.0,3.0,0.0,NaN,NaN,NaN,NaN
8,2184373.0,707.0,131.0,183.0,4.0,NaN,NaN,NaN,NaN
9,1131978.0,59.0,55.0,13.0,0.0,NaN,NaN,NaN,NaN

#### 9. How many missing values do you have in your merged dataframe?

In [13]:
df_merged.isnull().sum()

user_id            1242
reputation       324084
views            324084
up_votes         324084
down_votes       324084
post_id           37609
score             37609
view_count        37609
comment_count     37609
dtype: int64

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!

In [14]:
stats = df_merged.drop(columns=["post_id"])
stats = stats.describe().transpose()

In [15]:
stats["IQR"] = stats["75%"] - stats["25%"] 
stats

,count,mean,std,min,25%,50%,75%,max,IQR
user_id,361977.0,4.114448e+06,2.486953e+06,56.0,2072852.0,4213416.0,5667265.0,11588261.0,3594413.0
reputation,39135.0,3.235419e+02,5.670187e+03,1.0,1.0,1.0,20.0,737312.0,19.0
views,39135.0,5.133625e+01,1.403554e+03,0.0,0.0,1.0,6.0,238328.0,6.0
up_votes,39135.0,3.378704e+01,2.534077e+02,0.0,0.0,0.0,0.0,16723.0,0.0
down_votes,39135.0,5.447119e+00,1.518500e+02,0.0,0.0,0.0,0.0,18599.0,0.0
score,325610.0,4.566813e-02,6.109503e-01,-11.0,0.0,0.0,0.0,6.0,0.0
view_count,325610.0,1.518764e+01,3.926351e+00,1.0,13.0,16.0,18.0,20.0,5.0
comment_count,325610.0,8.904272e-01,1.549601e+00,0.0,0.0,0.0,1.0,28.0,1.0

In [16]:
outliers = pd.DataFrame(columns=df_merged.columns)

In [17]:
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = df_merged[(df_merged[col] < lower) | 
                   (df_merged[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [18]:
outliers

,Outlier,comment_count,down_votes,post_id,reputation,score,up_votes,user_id,view_count,views
231,user_id,NaN,0.0,NaN,20.0,NaN,0.0,11373227.0,NaN,17.0
384,user_id,NaN,2.0,NaN,441.0,NaN,18.0,11300252.0,NaN,17.0
685,user_id,NaN,0.0,NaN,4.0,NaN,0.0,11392190.0,NaN,19.0
1015,user_id,NaN,0.0,NaN,15.0,NaN,1.0,11347992.0,NaN,37.0
1070,user_id,NaN,1.0,NaN,159.0,NaN,12.0,11149547.0,NaN,27.0
1316,user_id,NaN,1.0,NaN,490.0,NaN,5.0,11427375.0,NaN,32.0
1452,user_id,NaN,0.0,NaN,22.0,NaN,0.0,11082818.0,NaN,17.0
1559,user_id,NaN,0.0,NaN,9.0,NaN,0.0,11452393.0,NaN,0.0
1562,user_id,NaN,0.0,NaN,4.0,NaN,0.0,11440636.0,NaN,0.0
1584,user_id,NaN,0.0,NaN,18.0,NaN,0.0,11138178.0,NaN,0.0
1598,user_id,NaN,0.0,NaN,111.0,NaN,1.0,11227352.0,NaN,0.0
1609,user_id,NaN,0.0,NaN,28.0,NaN,2.0,11191797.0,NaN,1.0
1612,user_id,NaN,0.0,NaN,27.0,NaN,1.0,11461995.0,NaN,1.0
1620,user_id,NaN,0.0,NaN,4.0,NaN,0.0,11448554.0,NaN,1.0
1643,user_id,NaN,0.0,NaN,18.0,NaN,2.0,11159640.0,NaN,1.0
1650,user_id,NaN,0.0,NaN,4.0,NaN,0.0,11073878.0,NaN,1.0
1664,user_id,NaN,0.0,NaN,23.0,NaN,0.0,11405100.0,NaN,1.0
1667,user_id,NaN,0.0,NaN,4.0,NaN,0.0,11524584.0,NaN,1.0
1669,user_id,NaN,0.0,NaN,10.0,NaN,0.0,11165735.0,NaN,1.0
1673,user_id,NaN,0.0,NaN,18.0,NaN,1.0,11294593.0,NaN,1.0
1679,user_id,NaN,0.0,NaN,2.0,NaN,0.0,11210209.0,NaN,1.0
1686,user_id,NaN,0.0,NaN,76.0,NaN,0.0,11243880.0,NaN,1.0
1728,user_id,NaN,0.0,NaN,36.0,NaN,0.0,11192050.0,NaN,2.0
1752,user_id,NaN,0.0,NaN,15.0,NaN,0.0,11086413.0,NaN,2.0
1754,user_id,NaN,0.0,NaN,4.0,NaN,0.0,11168105.0,NaN,2.0
1843,user_id,NaN,0.0,NaN,84.0,NaN,2.0,11101950.0,NaN,3.0
1879,user_id,NaN,0.0,NaN,28.0,NaN,9.0,11415690.0,NaN,3.0
1912,user_id,NaN,0.0,NaN,119.0,NaN,2.0,11328152.0,NaN,4.0
1917,user_id,NaN,0.0,NaN,12.0,NaN,0.0,11060187.0,NaN,4.0
1950,user_id,NaN,0.0,NaN,111.0,NaN,14.0,11099153.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...
363109,comment_count,3.0,NaN,27117572.0,NaN,0.0,NaN,4212254.0,13.0,NaN
363110,comment_count,3.0,NaN,25605089.0,NaN,0.0,NaN,1441368.0,13.0,NaN
363111,comment_count,3.0,NaN,35498442.0,NaN,0.0,NaN,5949474.0,14.0,NaN
363112,comment_count,3.0,NaN,28890077.0,NaN,0.0,NaN,1744085.0,16.0,NaN
363113,comment_count,3.0,NaN,34358008.0,NaN,0.0,NaN,5653363.0,17.0,NaN
363114,comment_count,3.0,NaN,33769991.0,NaN,0.0,NaN,5574490.0,17.0,NaN
363115,comment_count,3.0,NaN,32125806.0,NaN,0.0,NaN,3637599.0,18.0,NaN
363116,comment_count,3.0,NaN,16466087.0,NaN,0.0,NaN,1010458.0,18.0,NaN
363117,comment_count,3.0,NaN,37167534.0,NaN,0.0,NaN,1579107.0,19.0,NaN
363118,comment_count,3.0,NaN,33989229.0,NaN,0.0,NaN,5294035.0,20.0,NaN
363119,comment_count,3.0,NaN,37569570.0,NaN,1.0,NaN,6056556.0,14.0,NaN
363120,comment_count,3.0,NaN,37401527.0,NaN,-1.0,NaN,5705727.0,15.0,NaN
363121,comment_count,4.0,NaN,35756165.0,NaN,0.0,NaN,4700841.0,20.0,NaN
363122,comment_count,4.0,NaN,32379297.0,NaN,1.0,NaN,1545810.0,8.0,NaN
363123,comment_count,4.0,NaN,35519401.0,NaN,2.0,NaN,5952454.0,19.0,NaN
363124,comment_count,5.0,NaN,37760907.0,NaN,-2.0,NaN,6271486.0,19.0,NaN
363125,comment_count,6.0,NaN,37092678.0,NaN,0.0,NaN,5862949.0,13.0,NaN
363126,comment_count,6.0,NaN,35634501.0,NaN,0.0,NaN,5981935.0,19.0,NaN
363127,comment_count,7.0,NaN,37385140.0,NaN,0.0,NaN,6369962.0,11.0,NaN
363150,comment_count,4.0,NaN,37325616.0,NaN,0.0,NaN,6356528.0,15.0,NaN
363151,comment_count,4.0,NaN,36683065.0,NaN,0.0,NaN,3721109.0,18.0,NaN
363152,comment_count,4.0,NaN,29374933.0,NaN,1.0,NaN,4735014.0,19.0,NaN
363153,comment_count,6.0,NaN,34183455.0,NaN,0.0,NaN,5657244.0,16.0,NaN
363191,comment_count,3.0,NaN,35654958.0,NaN,0.0,NaN,4328589.0,13.0,NaN
363192,comment_count,3.0,NaN,30036440.0,NaN,-2.0,NaN,1564732.0,19.0,NaN
363200,comment_count,4.0,NaN,32253504.0,NaN,-2.0,NaN,5254131.0,19.0,NaN
363206,comment_count,4.0,NaN,37134728.0,NaN,0.0,NaN,6097311.0,9.0,NaN
363207,comment_count,5.0,NaN,27982552.0,NaN,0.0,NaN,2053759.0,20.0,NaN
363210,comment_count,3.0,NaN,37234637.0,NaN,0.0,NaN,6333477.0,17.0,NaN
363215,comment_count,3.0,NaN,37279431.0,NaN,0.0,NaN,1571996.0,20.0,NaN

In [19]:
outliers.to_csv("/home/gus/Dropbox/IRONHACK/LABS/01 - PYTHON/lab-data-cleaning/your-code/outliers_GD.csv")